<form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui large form segment">
  <h3 class="ui header">register new user</h3>
  <div class="field">
    <label for="username">username:</label>
    <input type="text" id="username" formControlName='username'>
    <div class='ui pointing red basic label' *ngIf=' user.get("username").errors?.required && user.get("username").touched'>
      a username is required
    </div>
    <div class='ui pointing red basic label' *ngIf='user.get("username").errors?.minlength && user.get("username").touched'>
      the username should be at least {{user.get("username").errors?.minlength.requiredLength }} letters
    </div>
    <div class='ui pointing red basic label' *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
      a user with that name already exists
    </div>
  </div>
  <div class="field">
    <label for="firstname">first name:</label>
    <input type="text" id="firstname" formControlName='firstname'>
    <div class='ui pointing red basic label' *ngIf=' user.get("firstname").errors?.required && user.get("firstname").touched'>
      a first name is required
    </div>
    <div class='ui pointing red basic label' *ngIf='user.get("firstname").errors?.minlength && user.get("firstname").touched'>
      the first name should be at least {{user.get("firstname").errors?.minlength.requiredLength }} letters
    </div>
  </div>
  <div class="field">
    <label for="lastname">last name:</label>
    <input type="text" id="lastname" formControlName='lastname'>
    <div class='ui pointing red basic label' *ngIf=' user.get("lastname").errors?.required && user.get("lastname").touched'>
      a last name is required
    </div>
    <div class='ui pointing red basic label' *ngIf='user.get("lastname").errors?.minlength && user.get("lastname").touched'>
      the last name should be at least {{user.get("lastname").errors?.minlength.requiredLength }} letters
    </div>
  </div>
  <div class="field">
    <label for="birthdate">birth date:</label>
    <input type="date" id="birthdate" formControlName='birthdate'>
    <div class='ui pointing red basic label' *ngIf=' user.get("birthdate").errors?.required && user.get("birthdate").touched'>
      a birth date is required
    </div>
  </div>
  <div formGroupName='passwordGroup'>
    <div class="field">
      <label for="password">password:</label>
      <input type="password" id="password" formControlName='password'>
      <div class='ui pointing red basic label' *ngIf=' passwordControl.errors?.passwordTooShort && passwordControl.touched'>
        password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
      </div>
    </div>
    <div class="field">
      <label for="confirmpassword">confirm password:</label>
      <input type="password" id="confirmpassword" formControlName='confirmPassword'>
    </div>
    <div class='ui pointing red basic label' *ngIf=' user.get("passwordGroup").errors?.passwordsDiffer && user.get("passwordGroup").get("confirmPassword").touched  && user.get("passwordGroup").get("password").touched'>
     the two passwords should be the same
    </div>
  </div>
  <button type='submit' [disabled]='!user.valid' class="ui positive right floated button">register</button>
</form>