<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="field">
     {{ Titel }}
  </h1>  
</div>
<div class="ui container">
  <div class="ui five item menu">
    <a class='item' routerLinkActive='active' 
      routerLink="/users" >users</a>
      <a class='item' routerLinkActive='active' 
      routerLink="/friends" >my Friends</a>
    <a class='item' routerLinkActive='active' 
      routerLink="/recipe/list" >my Recipes</a>
    <a class='item' routerLinkActive='active' 
      routerLink="recipe/add" >Add Recipe</a>
      <a class='item' routerLinkActive='active' 
      routerLink="logout" >logout</a>
  </div>
  <router-outlet></router-outlet>
</div>
